.about {
    min-height: 700px;
    max-width: 100%;

    @include flex-3(flex, center);

    .about-wrapper {
        height: 100%;
        width: 70%;

        .top {
            height: 200px;
            min-width: 400px;
            @include flex-3(flex, center);
            flex-direction: column;
            align-items: center;
            gap: 30px;

            .horizontal{
                height: 3px;
                width: 50px;
                background-color: red;
            }
            p{
                text-align: center;
                width: 750px;
            }
        }

        .bottom{
            min-height: 500px;
            width: 100%;
            display: flex;

            .about-card{
                @include flex-3(flex,center);
                gap: 40px;
                flex-direction: column;
                align-items: center;
                height: 500px;
                width: 25%;

                .icon-div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 150px;
                    width: 150px;
                    border-radius: 50%;
                    border: 1px solid red;
                    i{
                        font-size: 50px;
                    }
                   
                }

                .icon-div:hover{
                    background-color: red;
                }

                button{
                    border: 1px solid red;
                    padding: 20px;
                }
            }
        }
    }
}